<!--Anfang vorstellung-->
<div class="elemnt_">
 <div class="ele_heading">
  Wer sind wir?
 </div>
  <br>
 <div class="ele_text">
  Wir, der C3E Kindergarten oder kurz C3Ekg, sind die chaotische Ansammlung Minderjähriger im Chaospott. Man trifft uns häufig gemeinsam im Club und wir arbeiten an vielen Projekten gemeinsam. Wer weitere Fragen hinsichtlich des C3E-Kindergartens hat, kann gerne die unten genannten Kontaktmöglichkeiten nutzen.
 </div>
</div>
<!--Anfang Kontakt-->

<div class="elemnt">
 <div class="ele_heading">
  Wie erreicht man uns?
 </div>
 <div class="ele_text">
  E-Mail:
  <span class="e-mail" data-user="netragrednik" data-website="ed.ttopsoahc"></span>
   <br>
  Bitte mit <a href="/pubkey">diesem gpg-key</a> verschlüsseln
   <br>
    Telegram:
    <a target="_blank" href="https://t.me/c3e_kindergarten">c3e_kindergarten</a>
   <br>
    IRC:
    <a href="irc://hackint.eu/c3e_kindergarten">#C3E_Kindergarten</a>
    im <a target="_blank" href="https://hackint.eu">HackInt</a>
   <br>
    <a href="https://matrix.to/#/!milXAtaijBAEaHlhqX:irc.hackint.org">Matrix</a>
 <br>
    Einfach zu Matrix über Riot: <a href="https://riot.im/app/#/room/#C3E_Kindergarten:irc.hackint.org">riot.im</a>
 <br>
    <a href="/datenschutzerklaerung.html">Datenschutzerklärung</a>
 </div>
</div>
<!--Anfang animationsscripts-->
   <script src="/js/TweenLite.min.js"></script>
    <script src="/js/EasePack.min.js"></script>
    <script src="/js/rAF.js"></script>
    <script src="/js/eyecandy.js"></script> 
<div class="arduino42">E-Mail:<a href="mailto:wsinteractivefoo@quantentunnel.de">wsinteractivefoo@quantentunnel.de</a></div>
